
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #009688;
    height: 50px;
}

header .logo {
    max-height: 70px;
    padding: 10px;
}

header nav{
    display: flex;
}

header nav > a{
    align-self: center;
  
}



header nav .level-one{
    padding: 12px;
    background: #06a294;
    margin-right: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 100;font-size: 14px;
}  

header .active-nav .level-one,
header nav .level-one:hover{
    background-color: white;
    color: #009688;
}


.align-right-flex{
    display: flex;
}
