<header>
    <img class="logo" src="../../../../assets/axisrooms_logo_white.png" alt="Axisrooms Logo">
    <nav>
        <a routerLink="/dashboard" routerLinkActive="active-nav">
            <h2 class="level-one"> Dashboard</h2>
        </a>
        <a routerLink="/#" routerLinkActive="active-nav">
            <h2 class="level-one">Booking</h2>
        </a>
        <a routerLink="/#" routerLinkActive="active-nav">
            <h2 class="level-one">Inventory & Pricing</h2>
        </a>
        <a routerLink="/analytics/" routerLinkActive="active-nav">
            <h2 class="level-one">Analytics</h2>
        </a>
        <a routerLink="/activity-report/" routerLinkActive="active-nav">
            <h2 class="level-one">Reports & Logs</h2>
        </a>
    </nav>
    <div class="align-right-flex">
        <div class="profile">
            <p>Hi, Madhav</p>
            <div class="sub-menu">
                <span> My Account</span>
                <span> Private</span>
                <span> Log Out</span>
            </div>
        </div>
    </div>
</header>

