<header>
  <div class="support-options">
    <a routerLink="/">
      <img class="logo icon" src="../../../../assets/axisrooms_logo_white.png" alt="Logo">
    </a>
    <span *ngFor="let menu of header.menus">
      <button mat-button [matMenuTriggerFor]="mainMenu" class="support-button">{{menu.name}} <mat-icon>arrow_drop_down</mat-icon></button>

      <mat-menu #mainMenu="matMenu">
        <div *ngFor="let subMenu of menu.submenus">
          <div *ngIf="subMenu.submenus">
            <button mat-menu-item [matMenuTriggerFor]="subMenu1">{{subMenu.name}}</button>
          </div>
          <div *ngIf="!subMenu.submenus">
            <a href="{{subMenu.actionUrl}}">
              <button mat-menu-item>{{subMenu.name}}</button>
            </a>
          </div>
          <mat-menu #subMenu1="matMenu">
            <div *ngFor="let subMenu1 of subMenu.submenus">
              <a href="{{subMenu1.actionUrl}}">
                <button mat-menu-item>{{subMenu1.name}}</button>
              </a>
            </div>
          </mat-menu>
        </div>
      </mat-menu>
    </span>
  </div>

  <div class="supplier-view-options box-shadow">

    <div class="select-hotel">
      <mat-form-field>
        <input matInput placeholder="Select Supplier">
      </mat-form-field>
      <button type="button" mat-button class="filter-button md-primary">Submit</button>

    </div>
    <nav>
      <a routerLink="/dashboard" *ngIf="dashboardVisible"  routerLinkActive="active-nav">
        <h2 class="level-one"> Dashboard</h2>
      </a>
      <a routerLink="/#"  *ngIf="bookingVisible"  routerLinkActive="active-nav">
        <h2 class="level-one">Booking</h2>
      </a>
      <a routerLink="/#"   *ngIf="inventoryVisible"  routerLinkActive="active-nav">
        <h2 class="level-one">Inventory & Pricing</h2>
      </a>
      <a routerLink="/analytics/"  *ngIf="analyticsVisible"  routerLinkActive="active-nav">
        <h2 class="level-one">Analytics</h2>
      </a>
      <a routerLink="/activity-report/"  *ngIf="reportsVisible"  routerLinkActive="active-nav">
        <h2 class="level-one">Reports & Logs</h2>
      </a>
    </nav>
  </div>
</header>