nav{
    background-color: white;
    box-shadow: 0px 5px 5px #a5a5a540;
    position: relative;
    z-index: 1;
}

a{
    color: #3a9788;
    font-size: 14px;
}
.active-nav{
    font-weight: bold;
}

ul{
    display: flex;
    height: 50px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
    width: 1170px;
}

li{
    flex: 1;
    text-align: center;
}