<div class="modal-wrapper">
  <div class="modal-overlay" (click)="hideForm()"></div>
  <div class="modal-content">
      <div class="close icon">
          <img (click)="hideForm()" src="../../../../assets/close-icon-white.png" alt="Close Icon" class="icon">
      </div>
      <div class="navigation-tabs">
          <button (click)="toggleFormTabs(null,'audience')" [ngClass]="{'active': !audienceHidden}" >Audience</button>
          <button (click)="toggleFormTabs(null,'billing')" [ngClass]="{'active': !billingHidden}" [disabled]="billingNavDisabled">Billing</button>
          <button (click)="toggleFormTabs(null,'validity')" [ngClass]="{'active': !validityHidden}" [disabled]="validityNavDisabled">Validity</button>
      </div>
      <div class="modal-form-content">
          <billing-support-form-audience-tab [hidden]="audienceHidden"></billing-support-form-audience-tab>
          <billing-support-form-billing-tab [hidden]="billingHidden"></billing-support-form-billing-tab>
          <billing-support-form-validity-tab [hidden]="validityHidden"></billing-support-form-validity-tab>
      </div>
  </div>
</div>