<div class="custom-container">

  <div class="info-segment">
    <div class="information">
      <h1>Lorem Ipsum</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, aliquam culpa molestias eos at sit in eum, laborum
        excepturi ut minima eveniet cumque aliquid quos cum? Amet rerum sed libero!</p>
      <button>More Details</button>
    </div>
  </div>

  <div class="signup-segment">
    <div class="form-area">
      <h2 class="text-center" >Welcome</h2>
      <p>Create an Account</p>
      <small>Aleadry have an account?
        <a href="">Sign In Here</a>
      </small>
      <form>
        <mat-form-field>
          <input matInput placeholder="Hotel Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Confirm Password">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Mobile Number">
        </mat-form-field>
        <button mat-button>Create Your Account</button>
      </form>
    </div>
  </div>
</div>