.sub-nav{
    background-color: white;
    box-shadow: 0px 5px 5px #a5a5a540;
    position: relative;
    z-index: 1;
    height: 50px;
    display: flex;
}

.select-hotel{
    width: 250px;
    margin: auto 20px;
    margin-left: auto;
}