<div class="container-fluid master-reports-div">
  <div class="row">
    <h1 class="text-center">Analytical Reports</h1>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3">
          <div class="total-details">
            <p (click)="showBooking()">Total Bookings: {{totalCount}}
              <mat-icon>keyboard_arrow_down</mat-icon>
            </p>
            <!-- <ul [hidden]="showbooking">
              <li>Total Room Nights: 123</li>
              <li>Total Revenue: Rs. 12345</li>
            </ul> -->
          </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <div class="row">
            <mat-form-field>
              <input matInput placeholder="Search by Booking Id" #bookingId>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-1">
          <div class="row">
            <button mat-button class="search-booking-id" (click)="searchByBookingId()">Go</button>
          </div>
        </div>
        <div class="col-md-1">
          <a href="javascript:void(0)" (click)="clearFilter()" class="clear-button" [hidden]="clear">clear</a>
        </div>
        <div class="col-md-1">
          <button mat-button class="table-column-display" (click)="showColumn()">
            <mat-icon>list</mat-icon>
          </button>
          <mat-card class="table-column-drop" [hidden]="showColumns">
            <mat-list *ngFor="let checkItem of columnData">
              <mat-list-item>
                <mat-checkbox name="table-column" [checked]="checkItem.checked" [value]="checkItem.value" (change)="tableColumn(checkItem.value) ">{{checkItem.name}}</mat-checkbox>
              </mat-list-item>
            </mat-list>
          </mat-card>
        </div>
      </div>
      <app-analytics-master-reports [displayedColumns] = "displayedColumns" [dataSource]="dataSource1"></app-analytics-master-reports>
    </div>
    <div class="col-md-3">
      <div class="clearfix">
        <button mat-button color="primary" class="pull-right download-button">Download
          <mat-icon>file_download</mat-icon>
        </button>
      </div>
      <app-analytics-filter (productTypeValue) = "productType($event)" (filterResult)="filterResult($event)"
      (selectDate)="masterCount($event)"></app-analytics-filter>
    </div>
  </div>
</div>
