<mat-card class="filter-div padding-top-15">
  <div class="container-fluid">
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Select Date" ame="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)"
          readonly>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Check-In Date">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-card>
<mat-card class="filter-div">
  <div class="container-fluid">
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Hotel Chain">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Select Channel" #channel (focus)="channelFocus()" (keyup)="channelComplete(channel.value)" [value]="chanValue">
      </mat-form-field>
      <mat-list class="select-channel" [hidden]="chanShow">
        <mat-list-item>
          <mat-checkbox (change)="channelAll(allChannel, channel)" #allChannel [checked]="false" value="all">Select All</mat-checkbox>
        </mat-list-item>
        <mat-list-item *ngFor="let channel of channelShown">
          <mat-checkbox (change)="channelSelected(channel, selectedValue, channel, allChannel)" [checked]="isChecked(channel.id, selectedValue)"
            [value]="channel.id">{{channel.name}}</mat-checkbox>
        </mat-list-item>
      </mat-list>
      <mat-form-field>
        <input matInput placeholder="Select City" #city (focus)="cityFocus()" [value]="citValue" (keyup)="cityComplete(city.value)">
      </mat-form-field>
      <mat-list class="select-channel" [hidden]="cityShow">
        <mat-list-item>
          <mat-checkbox (change)="cityAll(allCity, city)" #allCity [checked]="false" value="all">Select All</mat-checkbox>
        </mat-list-item>
        <mat-list-item *ngFor="let city of cityShown">
          <mat-checkbox (change)="citySelectedFn(city, citySelected, city, allCity)" [checked]="isChecked(city.id, citySelected)" [value]="city.id">{{city.name}}</mat-checkbox>
        </mat-list-item>
      </mat-list>
      <mat-form-field>
        <mat-select placeholder="Payment Mode">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Booking Status">
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
          <mat-option value="4">Option 4</mat-option>
        </mat-select>
      </mat-form-field>
      <button type="button" mat-button class="filter-button md-primary" (click)=filterSubmit()>Submit</button>
    </div>
  </div>
</mat-card>
