<form [formGroup]='filterForms' (submit)='filterSubmit()'>
<mat-card class="filter-div padding-top-15">
  <div class="container-fluid">
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Select Date" ame="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)"
          readonly>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Search Type" [value]="defaultDate" formControlName="dateType">
          <mat-option [value]="date.id" *ngFor="let date of getDate">{{date.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-card>
<mat-card class="filter-div">
  <div class="container-fluid">
    <div class="row">
      <mat-form-field>
        <mat-select placeholder="Select Product" [value]="productDefault" #productsList (change)="productTypeChange(productsList)"  formControlName="productType">
          <mat-option *ngFor="let product of productType" [value]="product.id">{{product.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Supplier Type" #supplierTypes value="-1"  formControlName="supplierType" (change)="supplierTypeChange(supplierTypes.value)">
          <mat-option value="-1">All</mat-option>
          <mat-option [value]="supplier.id" *ngFor="let supplier of supplierType">{{supplier.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Supplier"  formControlName="supplierId">
<mat-option [value]="supplier.id" *ngFor="let supplier of supplierList">{{supplier.name}}</mat-option>

        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Payment Mode"  formControlName="modeOfPayment">
          <mat-option [value]="payment.id" *ngFor="let payment of paymentType">{{payment.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Booking Status"  formControlName="status">
          <mat-option [value]="status.id" *ngFor="let status of bookingStatus">{{status.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div (clickOutside)="outsideCity($event)">
        <mat-form-field>
          <input matInput placeholder="Select City" #city (focus)="cityFocus()" [value]="citValue" (keyup)="cityComplete(city.value)">
        </mat-form-field>
        <mat-list class="select-channel" [hidden]="cityShow">
          <mat-list-item>
            <mat-checkbox (change)="cityAll(allCity, city)" #allCity [checked]="false" value="all">Select All</mat-checkbox>
          </mat-list-item>
          <mat-list-item *ngFor="let city of cityShown">
            <mat-checkbox (change)="citySelectedFn(city, citySelected, allCity)" [checked]="isChecked(city.id, citySelected)" [value]="city.id">{{city.name}}</mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
      <div (clickOutside)="outsideHotel($event)">
        <mat-form-field>
          <input matInput placeholder="Hotel Chain" [value]="hotValue" #hotel (focus)="hotelFocus()" (keyup)="hotelComplete(hotel.value)">
        </mat-form-field>
        <mat-list [hidden]="hotelShow" class="select-channel">
          <mat-list-item>
            <mat-checkbox (change)="hotelAll(allHotel, hotel)" #allHotel [checked]="false" value="all">Select All</mat-checkbox>
          </mat-list-item>
          <mat-list-item *ngFor="let hotel of hotelShown">
            <mat-checkbox [value]="hotel.id" (change)="hotelSelectedFn(hotel, hotelSelected, allHotel)" [checked]="isChecked(hotel.id, hotelSelected)">{{hotel.name}}</mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
      <div (clickOutside)="outsideChannel($event)">
        <mat-form-field>
          <input matInput placeholder="Select Channel" #channel (focus)="channelFocus()" (keyup)="channelComplete(channel.value)" [value]="chanValue">
        </mat-form-field>
        <mat-list class="select-channel" [hidden]="chanShow">
          <mat-list-item>
            <mat-checkbox (change)="channelAll(allChannel, channel)" #allChannel [checked]="false" value="all">Select All</mat-checkbox>
          </mat-list-item>
          <mat-list-item *ngFor="let channel of channelShown">
            <mat-checkbox (change)="channelSelected(channel, selectedValue, allChannel)" [checked]="isChecked(channel.id, selectedValue)"
              [value]="channel.id">{{channel.name}}</mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
      <button type="button" mat-button class="filter-button md-primary" type="submit">Submit</button>
    </div>
  </div>
</mat-card>
</form>
