
header{
    display: flex;
    background: #009688;
    justify-content: center;
    position: relative;
}
header .logo {
    /*max-height: 70px;*/
    padding: 10px;
    width: 130px;
    height: 45px;
}


