<dashboard-nav></dashboard-nav>
<div class="container">
  <div class="hotel-name">
    <h2 class="text-center"> Resort Rio (12345) Mumbai, India</h2>
  </div>
  <div class="title-content col-md-12">
    <h2 class="page-title">
      Hotel Summary
    </h2>
    <div class="right-content ">
      <a href="">Summary</a>
      <a href="#systemStatus" >System Status</a>
    </div>
  </div>

  <div class="row chart-row">
    <div class="col-lg-6  ">
      <div class="chart-card">
        <div class="info">
          <p class="title">Arrivals & Checkouts</p>
          <mat-form-field class="form-selection">
            <mat-select placeholder="Duration">
              <mat-option value="Inventory">This Week</mat-option>
              <mat-option value="Price">This Month</mat-option>
              <mat-option value="Price">This Quarter</mat-option>
              <mat-option value="Price">This Year</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      </div>
    </div>
    <div class="col-lg-6 ">
      <div class="chart-card">
        <div class="info">
          <p class="title">Bookings & Cancellations</p>
          <mat-form-field class="form-selection">
            <mat-select placeholder="Duration">
              <mat-option value="Inventory">This Week</mat-option>
              <mat-option value="Price">This Month</mat-option>
              <mat-option value="Price">This Quarter</mat-option>
              <mat-option value="Price">This Year</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>
  <div class="row chart-row">
    <div class="col-md-12 ">
      <div class="chart-card">
        <div class="info">
          <p class="title">Total Earnings</p>
          <mat-form-field class="form-selection">
            <mat-select placeholder="Duration">
              <mat-option value="Inventory">This Week</mat-option>
              <mat-option value="Price">This Month</mat-option>
              <mat-option value="Price">This Quarter</mat-option>
              <mat-option value="Price">This Year</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>
  <div class="row chart-row">
    <div class="col-md-6 ">
      <div class="chart-card">
        <div class="info"></div>
        <div class="info">
          <p class="title">Room Nights & Bookings</p>
          <mat-form-field class="form-selection">
            <mat-select placeholder="Duration">
              <mat-option value="Inventory">This Week</mat-option>
              <mat-option value="Price">This Month</mat-option>
              <mat-option value="Price">This Quarter</mat-option>
              <mat-option value="Price">This Year</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>
  <div class="title-content col-md-12" id="systemStatus"  >
    <h2 class="page-title" >
      System Status
    </h2>
  </div>
  <div class="row chart-row">
    <div class="col-md-12 ">
      <div class="chart-card">
        <div class="info">
          <p class="title">Pending Changes</p>
          <mat-form-field class="form-selection">
            <mat-select placeholder="Duration">
              <mat-option value="Inventory">This Week</mat-option>
              <mat-option value="Price">This Month</mat-option>
              <mat-option value="Price">This Quarter</mat-option>
              <mat-option value="Price">This Year</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>

  <div class="row chart-row">
    <div class="col-md-6  ">
      <div class="chart-card">
        <p class="title">Channel Health Status</p>
        <div class="health-status">
          <div class="status">
            <span class="status-face happy"></span>
            <p class="ota-name">Booking.com</p>
          </div>
          <div class="status">
            <span class="status-face poker"></span>
            <p class="ota-name">Expedia.com</p>
          </div>
          <div class="status">
            <span class="status-face sad"></span>
            <p class="ota-name">Desiya.com</p>
          </div>
          <div class="status">
            <span class="status-face distressed"></span>
            <p class="ota-name">mmt.com</p>
          </div>
          <div class="status">
            <span class="status-face happy"></span>
            <p class="ota-name">travelyaari.com</p>
          </div>
          <div class="status">
            <span class="status-face poker"></span>
            <p class="ota-name">Yatra.com</p>
          </div>
          <div class="status">
            <span class="status-face sad"></span>
            <p class="ota-name">oyo.com</p>
          </div>
          <div class="status">
            <span class="status-face distressed"></span>
            <p class="ota-name">agoda.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row chart-row">
    <div class="col-md-12 ">
      <div class="chart-card">
        <div class="info">
          <p class="title">Error Reports</p>
          <mat-form-field class="form-selection">
            <mat-select placeholder="Duration">
              <mat-option value="Inventory">This Week</mat-option>
              <mat-option value="Price">This Month</mat-option>
              <mat-option value="Price">This Quarter</mat-option>
              <mat-option value="Price">This Year</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>


</div>