<dashboard-nav></dashboard-nav>
<div class="container">
  <div class="hotel-name">
   <h2 class="text-center" > Resort Rio (12345) Mumbai, India</h2>
  </div>
  <div class="title-content">
    <h2 class="page-title">
      Summary
    </h2>
    <div class="right-content ">
      <a href="">summary</a>
      <a href="">summary</a>
    </div>
  </div>

  <div class="row chart-row">
    <div class="col-md-6 chart-card "></div>
    <div class="col-md-6 chart-card "></div>
  </div>
  <div class="row chart-row">
    <div class="col-md-12 chart-card "></div>
  </div>
  <div class="row chart-row">
      <div class="col-md-6 chart-card "></div>
    </div>
  <div class="row chart-row">
      <div class="col-md-12 chart-card "></div>
    </div>
</div>